a{
    text-decoration: none;
    // text-transform: uppercase;
    display: inline-block;
}
.line-left{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    opacity: 0.5;
    padding-left: 103px;
    position: relative; 
    display: inline-block; 
    &::before{ 
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}
.slider{
    &-arrows{
        position: absolute; 
        top: 40px;
        right: 80px;
        cursor: pointer;
        z-index: 5;
        &-left{
            right: 128px;
        }
    }

}