
@import'libs/reset'; // сброс стилей
@import'libs/slick'; // стили сликс-лайдера
@import'base/var';  // постoянные данные




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background-color: #171919;
    text-transform: uppercase;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}

@import'blocks/header'; // header style
@import'blocks/_surf'; // surf style
@import'blocks/media'; // медиазапросы


@import'libs/animate'; // стили анимации 