.header{
    height: 100vh;
    position: relative;
    &__slider{
        &__item{
            height: 100vh;
            background-image: url(../img/header-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            &-block{
                position: absolute;
                right: 80px;
                bottom: 116px;
                text-align: right;
                text-transform: uppercase;
            }
            &-title{
                margin-bottom: 5px;
            }
            &-subtitle{
                font-weight: 800;
                font-size: 80px;
                line-height: 86px;
                margin-bottom: 48px;
            }
            &-suptext{
                margin-bottom: 8px;
            }
            &-text{
                font-weight: 800;
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 20px;
            }
        }
    }
}
.slider-dots{
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current{
        .slider-dots__box{
            border-top: 4px solid #4AF6CD;
        }
    }
    &__box{
        width: 200px;
        display: flex;
        justify-content: space-between;
        height: 28px;
        align-items: center;
        border-top: 4px solid #fff;
        padding-top: 6px;
        &__num{
            font-weight: 800;
            font-size: 24px;
            line-height: 34px;
        }
        &__name{
            font-weight: 300;
            line-height: 19;
        }
    }
}